body {
    font-family: Futura, serif;
    text-align: center;
}
h1 {
    color: black;
    text-align: center;
}
.menu-row {
    align-items: center;
}
.button {
    background-color: #2d6b32;
    border: 1px solid green;
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
    width: 200px;
    padding: 13px 32px;
    text-align: center;
    font-size: 20px;
}
.button:hover {
  background-color: #47994b;
}
.menu p {
    margin-top: 50px;
}
.input-header {
    margin-right: 220px;
}
.input {
    margin-bottom: 10px;
}
.input label{
    margin-top: 10px;
}
.init-db-menu p {
    margin-top: 50px;
}
#book-ride-button {
    margin-right: 220px;
    margin-top: 20px;
}
.report-table {
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
}